{% extends "template.html" %} 
{% load static %} 
{% load widget_tweaks %} 

{% block all %}
<!-- exit button -->
<header>
  <div class="exit-button">
    <a href="{% url 'novago:index' %}" class="exit-on-button">
      <i class="far fa-window-close" style="font-size: 36px"></i>
    </a>
  </div>  
</header>

<!-- container for centering -->
<div class="col-12 page-display">
<!-- container with book-trip form -->
  <div class="col-5">
    <div class="container">
      {% if driver == True %}
      <div class="profile-header">New Trip<a href="{% url 'novago:new-request' %}" class="button" style="font-size:12px">Request a Trip</a></div>
      <form action="{% url 'novago:new-trip' %}" method="post">
      {% else %}
      <div class="profile-header">New Request</div>
      <form action="{% url 'novago:new-request' %}" method="post">
      {% endif %}
          {% csrf_token %} 
          <div class="col-12">
          {{ form.destination_address|add_label_class:"label" }} 
          {% render_field form.destination_address%}
          </div>
          <div class="col-12">
          {{ form.starting_address|add_label_class:"label" }} 
          {% render_field form.starting_address %} 
          </div>
          <div class="col-6">
          {{ form.depart_date|add_label_class:"label" }} 
          {% render_field form.depart_date %}
          </div>
          <div class="col-6">
          {{ form.depart_time|add_label_class:"label" }} 
          {% render_field form.depart_time%}
          </div>
          <div class="col-6">
          {{ form.stops|add_label_class:"label"}}
          </div>
          <div class="col-6">
          {% render_field form.stops %}
          </div>
          <div class="col-12">
          {{ form.price |add_label_class:"label"}}
          {% render_field form.price %}
          </div>
          <div class="col-12">
          {{ form.passengers_amount|add_label_class:"label" }} 
          {% render_field form.passengers_amount %}
          </div>
          <div class="col-12">
          <button type="submit" class="button field1" id="my_button">Submit</button>
          </div>
      </form>
    </div>
  </div>

<!-- container with map showing route -->
  <div class="col-5">
    <div class="container">
      <div class="map" id="mapholder">
        <script defer src="{% static 'js/generate_map.js' %}"></script>
      </div>
    </div>
  </div>
</div>
{% endblock all %}

